* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "Suse";
  src: url(./assets/fonts/SUSE-VariableFont_wght.ttf);
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Suse";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/images/background.svg");
  background-repeat: no-repeat;
  height: 100vh;
}

/* General Form CSS */
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
  margin: auto;
  padding: 2em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}

label {
  font-size: 0.9em;
  color: #333;
  margin-bottom: 0.5em;
}

input[type="text"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.2s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  background-color: #fff;
  outline: none;
  border-color: #aaa;
}

.error {
  color: #d9534f;
  font-size: 0.8em;
  margin-top: 0.5em;
}

button[type="submit"] {
  padding: 0.75em;
  font-size: 1em;
  color: #fff;
  background-color: #5A6F09;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="submit"]:focus {
  outline: none;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.link-employee {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
  text-decoration: underline;
  color: white;
  font-weight: bold;
}

.link-employee:hover {
  text-decoration: none;
}

.personal-info-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.personal-info-form__field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.employee-address-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.employee-adress-form__field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.employee-address-form__field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.department-select {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

#department {
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: #f9f9f9;
}

/* Employee Table CSS*/

.employee-list-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.data-table-parent{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.data-table-parent > input{
  margin-top: 32px;
}

/* Modal CSS */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

